body {
    height: 100vh;
    font-family:'Roboto', 'Freight', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}
ul{
    list-style: none;
    padding: 0;
}
.navcontain {
    background-color: #1F2937;

}

.navbar{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0px;
}

.container{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 20px
}
.logo {
    background-color: #1F2937; 
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.title  {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
    word-break: break-word;
    margin: 0;
}

.herocontain {
    background-color: #1F2937;
}
.hero {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    flex-flow: row wrap;
    padding-bottom: 150px;
    padding-top: 50px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.heropic {
    width: 500px;
    height: auto;
}
.left-side {
    display: flex;
    flex-flow: row wrap;
    width: 40%;
}
.subtext{
    font-size: 18px;
    color: #E5E7EB;
    word-break: break-word;
}

.signup {
    padding: 2px 30px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
    border-style: none;
    font-size: large;
}

.sectiontwo {
    text-align: center;
    padding: 40px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.subheader {
    font-size: 36px;
    font-weight: bold;
}
.cards {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 100px;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex: 0;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.cardpic {
    border-radius: 10px;
    border: 4px solid #3882F6;
}

.sectionthree {
    background-color: #E5E7EB;

}

.threecontain {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0;
}

.quote {
font-size: 36px;
font-style: italic;
color: #1F2937;
padding-bottom: 15px;
}

.author {
    text-align: right;
    font-weight: bold;
    font-size: larger;
}
.sectionfour {
    display: flex;
    padding: 100px 0px;
}

.modal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px;
}
.modal {
    display: flex;
    width: 70%;
    border-radius: 10px;
    background-color:#3882F6;
    padding: 20px 0px;
    max-width: 80%;
    flex-flow: column wrap;
    margin-left: auto;
    margin-right: auto;
}

.modal-button {
    border: 2px solid #F9FAF8;
    width: auto;
}

.modal-header {
    font-size: 36px;
    font-weight: bold;
    color: #F9FAF8;
}

.modal-text{
    color: #F9FAF8;
}
.footer {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    padding: 20px;
}